.hero{
    background-image: url(/whiskeyHero.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .whisky-cask-investment-overview, 
  .whisky-cask-investment-benefits, 
  .whisky-cask-investment-process, 
  .whisky-cask-investment-future{
    padding: 50px 100px
  }